<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Template</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">

    <object th:include="fragments/fragment :: css-dev" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js-dev" th:remove="tag"></object>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

    <!-- Khusus untuk Table -->
    <link rel="stylesheet" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}">

    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <!-- <script th:src="@{/js/demo/datatables-demo.js}"></script> -->
    <!-- Khusus untuk Table -->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <ul th:replace="fragments/fragment :: sidebar"></ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments/fragment :: nav-dev"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
				    <h2 align="center">Formulir Pengadaan Fasilitas</h2>
				    <br>
				    <table class="table tab-content" align="center">
				    	<form class="form-horizontal" th:action="@{/pengadaan-fasilitas/tambah}" method="POST">
				    		<input type="hidden" th:name="system-uuid" th:value="${userUuid}"/>
				    		<div class="form-group">
				    			<label class="control-label col-sm-2">Nama:</label>
				    			<div class = "col-sm-10">
				    				<input type="text" th:name="nama" th:value="${pengadaanFasilitas.nama}"
				    					class="form-control form-control-user" 
                                		placeholder="Masukkan nama fasilitas"
                                		required>
				    			</div>
                            </div>
				    		
				    		<div class="form-group">
				    			<label class="control-label col-sm-2">Jumlah:</label>
				    			<div class = "col-sm-10">
				    				<input type="number" min = "1" th:name="jumlah" th:value="${pengadaanFasilitas.jumlah}"
				    					class="form-control form-control-user" 
                                		placeholder="Masukkan jumlah fasilitas"
                                		required>
				    			</div>
                            </div>
                            
                            <div class="form-group">
				    			<label class="control-label col-sm-2" for="email">Harga:</label>
				    			<div class = "col-sm-10">
				    				<input type="number" min = "1" th:name="harga" th:value="${pengadaanFasilitas.harga}"
				    					class="form-control form-control-user" 
                                		placeholder="Masukkan harga fasilitas"
                                		required>
				    			</div>
                            </div>
				    		
				    		<!-- <tr>
				    			<td>Nama</td>
				    			<td><input type="text" th:name="nama" th:value="${pengadaanFasilitas.nama}"/></td>
				    		</tr>
				    		<tr>
				    			<td>Jumlah</td>
				    			<td><input type="text" th:name="jumlah" th:value="${pengadaanFasilitas.jumlah}"/></td>
				    		</tr>
				    		<tr>
				    			<td>Harga</td>
				    			<td><input type="text" th:name="harga" th:value="${pengadaanFasilitas.harga}"/></td>
				    		</tr> -->
				    		
				    		<!-- <tr>
				    			<td>Status</td>
				    			<td th:if=""><input type="text" th:name="status" th:value="${pengadaanFasilitas.status} == 1"/>Menunggu Persetujuan</td>
				    		</tr> -->
				    		
				    		<tr>
							    <td><button type="submit" class="btn btn-primary"> Submit </button></td>
						    </tr>
				    	</form>
				    </table>
				</div>
                <!-- /.container-fluid -->
            <!-- Footer -->
            <footer th:replace="fragments/fragment :: footer-dev-1"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <link th:href="@{/vendor/jquery/jquery.min.js}">
    <link th:href="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}">
    <link th:href="@{/vendor/jquery-easing/jquery.easing.min.js}">
    <link th:href="@{/js/sb-admin-2.min.js}">
</body>

</html>
    
</body>
</html>